.aboutInfo{
    max-width: var(--MaxWidth);
    display: block;
    margin: auto;
    background-color: white;
    padding: 6.5em 3em;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.09); 
    box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.09);
}

.miImage {
    width: 71%;
    max-width: 23em;
    border-radius: var(--borderRadius);
    display: block;
    margin: auto;
}

.leftImage {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.rightText {
    display: inline-block;
    width: 43%;
    vertical-align: top;
}

.aboutDescription {
    padding: 4rem;
    padding-bottom: 0;
    font-size: 1.4rem;
}
.aboutDescription p{
    padding: 1.3em 0;
}

.dest{
    font-weight: bold;
}

.aboutInfo .h1{
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.4rem;
    color: var(--miBlue);
    margin: 2rem 0;
    letter-spacing: 2px;
}

.aboutInfo .h2 {
    font-size: 1.2rem;
    letter-spacing: 0;
}

.aboutInfo .h3 {
    font-size: 3rem;
    margin: 0;
    padding: 0 4rem;
    color: var(--miGray2)

}

.Conocimientos{
    display: block;
    margin: auto;
}

.contentSoftware {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.bloqueGris, .bloqueAzul {
    width: 35%;
    display: inline-block;
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: var(--borderRadius);
    color: white;
    vertical-align: text-top;
    min-height: 9rem;
}
.bloqueGris {
    background: var(--miGray);
}
.bloqueAzul{
    background: var(--miBlue);
}
.bloqueAzul .hrConocimientos {
    background-color: white;
    height: 2px;
}

.software{
    margin: 0;
    font-size: 1.5rem;
    margin-left: 1em;
}


.hrprincipal, .hrConocimientos {
    height: 3px;
    border: 0px;
    background-color: var(--miBlue);
    border-radius: 2px;
}
.hrConocimientos {
    height: 2px;
    margin: .3em 0;
}

.hrprincipal{
    margin: 3.5em 0;
}

.contentSoftware b{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.and{
    color: var(--miGray);
    opacity: .5;
}

.videoSection video{
    width: 100%;
    border-radius: var(--borderRadius);
}

.TestImage{
    width: 100%;
    max-width: 250px;
    border-radius: var(--borderRadius);
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  


@media (max-width: 965px){

    .leftImage, .rightText {
        display: block;
        width: 100%;
    }

    .rightText{
        text-align: center;
    }
    .aboutInfo {
        border-radius: 0;
    }

    .aboutDescription {
        padding: 2.1rem;
    }

    .aboutInfo .h2 {
        font-size: 1.9rem;
    }

    .navigationProyects {
        flex-flow: column;
    }

    .TestImage {
        margin: 2em 0;
    }
    .software{
        margin-left: 0;
    }

    .bloqueGris, .bloqueAzul {
        width: 70%;
        display: block;
    }
}

@media (max-width: 600px){

    .aboutInfo .h1 {
        line-height: 2rem;
        font-size: 2em;
    }
    .aboutInfo {
        padding: 6em 1em;
    }

    .aboutDescription {
        padding: 0.9rem;
    }
    .miImage {
        width: 80%;
    }
    
    .bloqueAzul {
        background: var(--miBlue);
    }
    .bloqueGris, .bloqueAzul {
        width: 80%;
    }
    .aboutInfo .h3 {
        padding: 0 1rem;
        line-height: 1em;
    }
    

    
}