
.header, .footer{
  width: 100%;
  background-color: var(--miGray);
  background-color: inherit;
  color: white;
  text-align: center;
}

.h1Principal {
  font-size: 0.75rem;
  letter-spacing: 10px;
  color: rgba(0,0,0,.5);

  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;

}

.h1Principal::selection {
  background-color: var(--miGray);
  color: white;
}


.h2Principal {
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--miGray2);
  font-size: 2.5rem;
  margin-bottom: 0.2em;
  line-height: 1.2;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  display: inline-block;
  margin-top: 1rem;
}

li a{
  text-decoration: none;
  color: rgba(0,0,0,.5);
  padding: 1rem;
}

li a:hover{
  color: rgba(0,0,0,.7);
}
.active{
  color: var(--miBlue);
  font-weight: bold;
}

.test{
  background: var(--miBlue);
    width: 200px;
    text-align: center;
    margin: 5em auto;
    clear: both;
    color: white;
}