.content {
    text-align: center;
    background: var(--miGray2);
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    border-radius: var(--borderRadius);
}

.text-bg {
    
    font-size: 12px;
    line-height: 12px;
    background: url(https://predy.es/WebPredy_Backup_JSvanilla/images/Predys.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .1);
    position: relative;
    background-position: center;
    margin-bottom: 4em;

    background-position: 25% 24%;
}

.title {
    font-size: 150px;
    color: rgba(255, 255, 255, .1);
    position: absolute;
    top: 20%;
    right: 10%;
    
}

.Bloque_Contact {
    display: block;
    margin: auto;
    max-width: 48vw;
    border-radius: var(--borderRadius);
    overflow: hidden;
}

.ContactCard {
    text-align: center;
    padding: 0.6em 1em;
    font-size: 2vw;
    border-radius: 10px;
    z-index: 2;
    color: white;
    display: block;
}

.ContactCard a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.ContactCard a:hover{
    color: var(--miBlue);
}

a.minilink{
    text-decoration: none;
}
a.minilink:hover{
    color: var(--miBlue);
    -webkit-text-fill-color: rgba(70, 149, 226, 1);
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    
}

.extraTextContact{
    color: var(--miBlue);
    text-align: center;
    margin: 3em 0;
    font-weight: normal;
}




@media (max-width: 900px){
    .Bloque_Contact {
        max-width: 78vw;
    }
    .ContactCard a {
        font-size: 2em;
        padding: 0.6em 0;
        display: block;
    }

}

@media (max-width: 576px){

    .Bloque_Contact {
        max-width: 78vw;
        margin-bottom: 0;
    }
    .text-bg {
        height: 30em;
        overflow: hidden;
    }
    .ContactCard a {
        font-size: 2em;
        padding: 0.6em 0;
        display: block;
    }
    .aboutInfo .h3 {
        font-size: 2em;
    }

    .extraTextContact {
        margin: 3em 0 0;
    }
    
}

