.footer{
    background-color: var(--miGray2);
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_Predy{
    width: 90px;
}

.iconRedesS{
    width: 40px;
    margin: 0 4em
}

.scrollContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scrollUp{
    cursor: 'pointer';
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    margin: 4em auto;
    display: inline-block;
    color: var(--miGray);
    /* border: 3px solid var(--miBlue); */
    border: 1px solid var(--MiGrayRGBA);
    background-color: white;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 50%;
    transform: rotate(270deg);
    text-align: center;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / 9%);

    transition: all 0.5s ease-out;
    transition-timing-function: ease;
    transition-delay: 1s;
    transition-duration: 2s;

}