
.FullContentProyect {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 1.5em;
}

.navigationProyects{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.miButton{
    border: none;
    background-color: var(--miGray);
    color: white;
    font-size: 1.5rem;
    padding: 1em 2em;
    margin: 0 1em;
    border-radius: var(--borderRadius);
    height: 3.5em;
    cursor: pointer;
}
.miButton:hover{
    transform: scale(1.075);
    transition: all .3s ease;
}

.proyectTit .h2{
    margin: 1.5em 0 0;
    font-size: 5em;
    color: var(--miBlue);
}

.description{
    font-size: 2em;
    margin: 2em;
    color: var(--miGray2);
    text-align: left;
}

.h4FullProyect{
    color: var(--miGray);
}

.cliente{
    color: var(--miGray2);
}

.FullContentProyect .img1_FullProyect{
    margin-top: 6em;
}

.imgsFullPoyects{
    margin: 3em 0;
    border-radius: var(--borderRadius);
}


@media (max-width: 965px){

}

@media (max-width: 600px){

    .FullContentProyect .img1_FullProyect{
        margin-top: 0;
    }
    
    
}