:root {
  --miBlue: #4695e2;
  --miGray: #4c4c4c;
  --miGray2:#212529;
  --background: #f8f9fa;
  --borderRadius: 10px;
  --MiBlueRGBA: rgba(70, 149, 226, 0.3);
  --MiGrayRGBA: rgba(76, 76, 76, 0.4);
  --MaxWidth: 63em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* border-right: 1px solid var(--miGray); */

  font-weight: 400;
  background: var(--background);

  scrollbar-face-color:fuchsia;
  scrollbar-highlight-color:yellow;
  scrollbar-3dlight-color:orange;
  scrollbar-darkshadow-color:darkblue;
  scrollbar-shadow-color:gray;
  scrollbar-arrow-color:yellow;
  scrollbar-track-color:aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--miBlue);
  color: white;
}

body::-webkit-scrollbar {
  width: 45px;               /* width of the entire scrollbar */
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: white;         /*color of the tracking area */
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--miBlue);    /* color of the scroll thumb */
  border-radius: 11px;       /* roundness of the scroll thumb */
  border: 8px solid white;
  margin-left: 2px;
  cursor: pointer;
}



/* 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
  top: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>
<body>

<h2>Fade in Overlay</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div>

</body>
</html> */
